tmp/
components/*
!components/aiot_log_config/
!components/aiot_log_config/**
!components/esp-wifi-connect/
!components/esp-wifi-connect/**
components/esp-wifi-connect/.component_hash
managed_components/
build/
dist/
.vscode/
.devcontainer/
sdkconfig.old
sdkconfig
dependencies.lock
.env
releases/
main/assets/lang_config.h
main/mmap_generate_emoji.h
.DS_Store
.cache
*.pyc
*.bin
docs/PROJECT_RECORD_zh.md
mmap_generate_*.h
.clangd
